[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
wheel = "*"
twine = "*"
ipykernel = "*"

[packages]
apd-octopusenergy = {editable = true,path = "."}
requests = "*"
apd-sensors = "*"
pint = "*"

[requires]

[pipenv]
allow_prereleases = true
