[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"
wheel = "*"
twine = "*"
ipykernel = "*"

[packages]
requests = "*"
apd-sensors = "*"
pint = "*"

[requires]

[pipenv]
allow_prereleases = true

[packages.apd-octopusenergy]
editable = true
path = "."

[packages.e1839a8]
path = "."
editable = true
